
:root {
    --header-color: #212121;
    --focus-color: #2196F3;
    --alternative-color: #757575;
}
body {
    font-family: 'Roboto', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.list {
    list-style: none;

}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 1px solid red;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-color);
}

.header-pre-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--focus-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--focus-color);
}

.header-mail,
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--alternative-color);
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover, 
.header-tel:focus {
    color: var(--focus-color);
}

.hero {
    text-align: center;
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.hero-btn {
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    width: 216px;
    height: 50px;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.Peculiarities {
    padding-top: 94px;
    padding-bottom: 94px;
}

.peculiarities-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--header-color);
        margin-bottom: 10px;
}

.peculiarities-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--alternative-color);
}

.occupation {
    padding-bottom: 94px;
}

.occupation-title {
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--header-color);
        padding-bottom: 50px;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.team-title {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
}

.team-item {
    padding-bottom: 30px;
}

.team-img {
    padding-bottom: 30px;
}

.team-first-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--header-color);
    padding-bottom: 10px;
}

.team-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        /* text-align: center; */
        letter-spacing: 0.03em;
        color: var(--alternative-color);
}

.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    display: block;
font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-pre-logo {
font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--focus-color);
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

/* .footer-item:last-child {
    margin-bottom: 0;
} */

.address-maps {
    display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}

.address-mail,
.address-tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address-mail:hover,
.address-mail:focus,
.address-tel:hover,
.address-tel:focus {
    color: #FFFFFF;
}

.address-tel {
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}

/* ---------portfolio---------- */

.navigation-btn {
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
    background: #F5F4FA;
    border-radius: 4px;
}

.navigation-btn:hover,
.navigation-btn:focus {
    color: #FFFFFF;
    background: var(--focus-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--header-color);
}

.portfolio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: var(--alternative-color);
}